*.pyc
._*
.DS*
*.db
*.db-journal
*.ps
*.dvi
*.toc
*.log
*.aux
_build*
*~
.svn*
src/djangofr/uploads/*
src/djangofr/static/*
docs/build/*
.epio*
epio*
*.swp
*.shx
*.shp
*.qpj
*.prj
*.dbf
*.idea*
src/djangofr/build/*
