body {
    background: #FAFAFA;
}

.breadcrumb {
    margin-top: -20px;
}
#object {
    float: left;
    width: 150px;
    min-height: 330px;
    margin: 10px;
}

.tag {
    background: #EEE;
    border:1px solid #CCC;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.file_detail {
    margin: 15px;
}

.pagination {
    height: 20px;
    margin: 0px;
}

.step-links {
    
}

.info {
    background: #9AC0CD;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 15px;
    color: #FFF;
    height: 18px;
    line-height: 20px;
}

.usermenu {
    float: right;
    margin-top: -7px;
    margin-bottom: -10px;
    margin-right: 25px;
}
