{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "YOURNAME repository" %}{% endblock %}

{% block pagetitle %}File repository{% endblock %}
{% block pagedescription %}Example repository{% endblock %}

{% block content %}
    <h3>{% trans "Public document list" %}</h3>
    {% for object in file %}
        <div id="object">
            <div class="front"><img src="http://placehold.it/150x200" alt="File image" title="{{ object.name }}"/></div>
            <div class="filedescription">
                <h6>{{ object.name }}</h6>
                <p>{{ object.description|truncatewords:16 }}...</p>
            </div>
            <div class="fileoptions">
                {% if object.stored_file %}
                    <a href="{{ MEDIA_URL }}{{ object.stored_file.url }}"><img src="{{ STATIC_URL }}/img/download.png" title="{% trans 'Download' %}" alt="{% trans 'Download' %}" /></a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="#"><img src="{{ STATIC_URL }}/img/delete.png" title="{% trans 'Delete' %}" alt="{% trans 'Delete' %}" /></a>
                {% endif%}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Other categories" %}</h3>
    <ul class="unstyled">
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% empty %}
        <p>{% trans "The aren't any categories." %}</p>
    {% endfor %}
    </ul>
{% endblock %}
