{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "All categories" %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url home %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">{% trans "Categories" %}</a> <span class="divider">/</span></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span4 offset5">
            <div class="pagination">
                <span class="step-links">
                    {% if file.has_previous %}
                        <a href="?page={{ file.previous_page_number }}">{% trans "previous" %}</a>
                    {% endif %}
                    {{ file.number }} {% trans "of" %} {{ file.paginator.num_pages }}
                    {% if file.has_next %}
                        <a href="?page={{ file.next_page_number }}">{% trans "next" %}</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    
    {% for category in category_list %}
        <a href="{% url category_view category.id %}">{{ category.name }}</a>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Other categories" %}</h3>
    <ul class="unstyled">
    {% for category in category_list %}
        <li><a href="{% url category_view category.id %}">{{ category.name }}</a></li>
    {% empty %}
        <p>{% trans "The aren't any categories." %}</p>
    {% endfor %}
        <hr>
        <li><a href="{% url category_list %}">{% trans "View all categories" %}</a></li>
    </ul>
{% endblock %}
