{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "YOURNAME repository" %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="active"><a href="{% url home %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
    </ul>
{% endblock %}

{% block content %}
    <h3>{% trans "Public document list" %}</h3>

    <div class="row">
        <div class="span4 offset5">
            <div class="pagination">
                <span class="step-links">
                    {% if file.has_previous %}
                        <a href="?page={{ file.previous_page_number }}">{% trans "previous" %}</a>
                    {% endif %}
                    {{ file.number }} {% trans "of" %} {{ file.paginator.num_pages }}
                    {% if file.has_next %}
                        <a href="?page={{ file.next_page_number }}">{% trans "next" %}</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    
    {% if user.is_authenticated %}
        <div class="info">
            <p>{% trans "Remember that no private files are shown here. Instead you will have to go to -My Files- section."%}</p>
        </div>
    {% endif %}
    
    {% for object in file.object_list %}
        <div id="object">
            <div class="front"><a href="{% url view_file object.id %}"><img src="http://placehold.it/150x200" alt="File image" title="{{ object.name }}"/></a></div>
            <div class="filedescription">
                <h6><a href="{% url view_file object.id %}">{{ object.name }}</a></h6>
                <p>{{ object.description|truncatewords:16 }}...</p>
            </div>
            <div class="fileoptions">
                {% if object.stored_file %}
                    <a href="{{ MEDIA_URL }}{{ object.stored_file.url }}"><img src="{{ STATIC_URL }}/img/download.png" title="{% trans 'Download' %}" alt="{% trans 'Download' %}" /></a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="{% url delete_file object.id %}"><img src="{{ STATIC_URL }}/img/delete.png" title="{% trans 'Delete' %}" alt="{% trans 'Delete' %}" /></a>
                {% endif%}
                </ul>
            </div>
        </div>
    {% empty %}
        <p>{% trans "No files." %}</p>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Other categories" %}</h3>
    <ul class="unstyled">
    {% for category in categories %}
        <li><a href="{% url category_view category.id %}">{{ category.name }}</a></li>
    {% empty %}
        <p>{% trans "The aren't any categories." %}</p>
    {% endfor %}
        <hr>
        <li><a href="{% url my_files %}">{% trans "My files" %}</a></li>
    </ul>
{% endblock %}
